<ul class="social-media-list">
  {%- if site.author.github -%}
    <li>
      <a href="https://github.com/aaluopy" target="_blank" rel="noopener noreferrer" title="GitHub">
        <svg class="svg-icon">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
        </svg>
        <span class="username">{{ site.author.github | escape }}</span>
      </a>
    </li>
  {%- endif -%}

  {%- if site.author.gitlab -%}
    <li>
      <a href="https://gitlab.com/aaluopy" target="_blank" rel="noopener noreferrer" title="GitLab">
        <svg class="svg-icon">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#gitlab' | relative_url }}"></use>
        </svg>
        <span class="username">{{ site.author.gitlab | escape }}</span>
      </a>
    </li>
  {%- endif -%}

  {%- if site.rss -%}
    <li>
      <a href="{{ 'feed.xml' | relative_url }}" title="{{ site.title | escape }} RSS">
        <svg class="svg-icon">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
        </svg>
        <span>RSS</span>
      </a>
    </li>
  {%- endif -%}
</ul>